@import '../style/style.scss';

.game {
  height: 25em;
  width: 30em;  
  max-width: 90%;
  background-image: url('../../images/bg-triangle.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin: 4em auto;
  position: relative;
  
  
  .paper, .scissors, .rock {
    position: absolute;
  }

  .scissors {
    right: 0;
  }

  .rock {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.game-stage {
  // width: 700px;
  max-width: 90%;
  @include Flex-Center;
  margin: 0 auto;
}

