@import '../style/style.scss';

.game-card {
  border-radius: 6em;
  height: 11em;
  width: 11em;
  @include Gradient($blue-dark, $blue-light);
  @include Flex-Center();
}

.game-card.rock {
  @include Gradient($red-dark, $red-light);
}

.game-card.scissors {
  @include Gradient($orange-dark, $orange-light);

}

.icon-of-attack {
  height: 75%;
  width: 75%;
  background: white;
  border-radius: 5em;
  @include Flex-Center();
  box-shadow: inset 0 8px 1px rgb(209, 209, 209);

  img {
    height: 4em;
  }
}


.pick .game-card {
  margin: 0 auto;
}