@import '../style/style.scss';


.pick {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 15em;
  width: 350px;
  font-size: 1.6rem;

  h3 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

}

@media (max-width: 610px) {
  .pick {
    font-size: .8rem;
    flex-direction: column-reverse;
    margin-top: 10vh;


    h3 {
      font-size: 1rem;
    }

  }
}
