@import '../style/style.scss';

.game-stage {
  width: 700px;
  max-width: 90%;
  @include Flex-Center;
  background-color: violet;
}

.pick {
  flex-flow: column nowrap;
  align-items: center;
  width: 350px;
  border: 1px solid pink;
}
