@import './components/style/style.scss';

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
}

.App {
  // padding: 3em 0 0;
  text-align: center;
  height: 100vh;
  background: rgb(226,255,252);
  background: radial-gradient(circle, $background-light 0%, $background-dark 100%);
  overflow: auto;
}

.show-rules {
  position: absolute;
  bottom: 3em;
  right: 2em;
  width: 10em;
  height: 3.5em;
  border-radius: 15px;
  border: 3px solid $header-outline;
  background: transparent;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

@media (max-width: 610px) {
  body {
    font-size: 12px;
  }

  .show-rules {
    left: 50%;
    transform: translateX(-50%);
  }
}